@charset "utf-8";

@media screen and (min-width: 768px) and (max-width: 992px) { /*Tablet*/

    body{
        background-image: linear-gradient(to right, var(--cor1),#0a2c5c);
        transition: width .7s, height .7s;
        transition-timing-function: ease;
    }

    header > h1{
        font-size: 2.2em;
    }
    header > p{
        font-size: 1.3em;
    }

    main{
        width: 82vw;
    }

    div.containerimg{
        display: flex;
        align-items: center;
    }

    section>h2{
        font-size: 1.8em;
    }

    section#imagem > img{
        float: left;
        width: 250px;
    }

    section#sobremim p{
        width: 370px;
        text-align: left;
        padding: 30px;
        line-height: 1.5em;
    }

    section#portifolio p.pj{
        font-size: 1.3em;
        padding: 15px;
        margin: 10px;
    }

    section#portifolio img{
        width: 450px;
    }

    section#portifolio img.cs{
        width: 300px;
        height: 200px;
    }

    .zindex {
        position: relative;
        z-index: 10;
        margin-top: -60px !important;
    }

    section#tec div.end{
        display: inline-block;
        margin: 5px;
    }

    section#tec{
        display: table;
        margin: auto;
        justify-content: center;
    }

    div> img.contato{
        width: 60px;
    }

    footer>div>p{
        font-size: 1.2em;
    }

    footer >p#r{
        font-size: 1em;
    }

    .projects {
        display: flex;
        flex-wrap: wrap;
    }

    .project {
        flex: 1 1 45%; 
        margin-right: 20px; 
        display: flex;
        flex-direction: column;
        position: relative;
    }

    .project img {
        width: 100%;
        max-width: 100%;
        height: auto;
        margin-bottom: 10px;
        box-shadow: 5px 3px 10px var(--cor2);
        border-radius: 10px;
        border: 2px solid black;
    }

    .overlay{
        font-size: 0.9em;
        height: 80%;
        margin-top: 20px;
        border: 3px solid black;
    }
}

@media screen and (min-width: 992px) { /*PC*/
    body{
        background-image: linear-gradient(to right, var(--cor1),#0a2c5c);
        transition: width .7s, height .7s;
        transition-timing-function: ease;
    }

    .projects {
        display: flex;
        flex-wrap: wrap;
    }

    .project {
        flex: 1 1 45%; 
        margin-right: 20px; 
        display: flex;
        flex-direction: column;
        position: relative;
    }

    .project img {
        width: 100%;
        max-width: 100%;
        height: auto;
        margin-bottom: 10px;
        box-shadow: 5px 3px 10px var(--cor2);
        border-radius: 10px;
        border: 2px solid black;
    }
    .overlay{
        font-size: 1.1em;
        height: 85%;
        margin-top: 20px;
        border: 5px solid black;
    }

    header{
        width: 70vw;
    }

    header>nav{
        padding-bottom: 30px;
    }

    header > h1{
        margin-top: 30px;
        font-size: 2.4em;
    }
    header > p{
        padding: 30px;
        font-size: 1.4em;
        text-align: center;
    }

    main{
        width: 70vw;
    }

    div.containerimg{
        display: flex;
        align-items: center;
    }

    section>h2{
        font-size: 2em;
    }

    section#imagem{
        margin-right: 5px;
    }

    section#imagem > img{
        float: left;
        width: 250px;
    }

    section#sobremim{
        margin-left: 5px;
    }

    section#sobremim p{
        width: 370px;
        text-align: left;
        padding: 30px;
        font-size: 1.1em;
        line-height: 1.6em;
    }

    section#portifolio img{
        width: 480px;
    }

    section#portifolio img.cs{
        width: 380px;
        height: 250px;
    }

    section#portifolio p.pj{
        font-size: 1.5em;
        padding: 15px;
        margin: 10px;
    }

    .zindex {
        position: relative;
        z-index: 10;
        margin-top: -60px !important;
    }

    section#tec div.end{
        display: inline-block;
        margin: 5px;
    }

    section#tec{
        display: table;
        margin: auto;
        justify-content: center;
    }

    div> img.contato{
        width: 70px;
    }

    footer>div>p{
        font-size: 1.4em;
    }

    footer{
        width: 75%;
    }

    footer >p#r{
        font-size: 1.1em;
    }
}

@media print{
    *{
        margin: 10px;
        padding: 10px;
        text-shadow: none;
    }

    html{
        font-family: 'Courier New', Courier, monospace;
    }

    main h1{
        color: black;
    }

    main::after{
        content: 'Caso queira acessar o site, aqui esta: a URL: https://gui-github.github.io/portifolio-projeto/';
    }

    nav, a{
        display: none;
    }
}